.search {
  margin-bottom: 16px;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.chip {
  cursor: pointer;
}

.bottom-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
}

.selected-preview {
  white-space: nowrap;
  width: 100%;
  overflow-y: auto;
}

.selected-placeholder {
  color: #aaa;
  font-style: italic;
}

.next-button {
  margin-left: auto;
}
