.edit-profile-form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0;
  width: 100%;
  overflow: auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 1vh;
  min-width: 40%;
}

.picker-container {
  width: 100%;
}
