.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #fff;
  overflow: hidden;
  padding: 16px;
  box-sizing: border-box;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  max-width: 450px;
  padding: 1.5vh;
  box-sizing: border-box;
}

.field-wrapper {
  width: 100%;
}
