@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: url('../public/assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
}

#root {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.MenuCard {
  padding: 1vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.read-the-docs {
  color: #888;
}

.aiTextarea {
  width: 80%;
}

.logoImg {
  border: none;
  outline: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fullHeight {
  height: 100vh;
}

.fullWidth {
  height: 100vw;
}

.MuiTypography-root {
  font-family: 'Poppins', sans-serif !important;
}

.MuiStepIcon-text {
  fill: white !important;
}

.MuiTextField-root {
  width: 100%;
}

.MuiPickersTextField-root {
  width: 100%;
}

.Toastify__progress-bar--success {
  background: #5a36a1;
}

.Toastify__progress-bar--info {
  background: #b9ab43;
}

.Toastify__progress-bar--error {
  background: #be4c44;
}

.Toastify__toast--success .Toastify__toast-icon > svg {
  fill: #5a36a1 !important; /* green */
}

.Toastify__toast--info .Toastify__toast-icon > svg {
  fill: #b9ab43 !important; /* blue */
}

.Toastify__toast--error .Toastify__toast-icon > svg {
  fill: #be4c44 !important; /* red */
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
  }
}

@keyframes moveBorder {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@keyframes animatedGlowBorder {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@keyframes smoothGlowBorder {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
